*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
body{
    font-family: 'Arima', cursive;
 }

.container{
     padding-top: 15px;
     padding-left: 15px;
     margin-left: auto;
     margin-right: auto;
   }
@media (min-width:768px) {
   .container{
   width: 750px;
   }

  }
 @media(min-width:992px){
   .container{
    width: 970px;
   }
   }


@media (min-width:1200px){
    .container{
    width: 1170px;
    }
    }

 #border{
    height: 10px;
    background-image: url(./assets/hr-img.png);
    border: 0;
    position: relative;
    top: 100px;
}
 .logo{
    float: left;
 }
 .soical{
    float: right;
    padding-top: 20px;
 }
 header{
    height: 100px;
    padding-bottom: 30px;
    padding-right: 20px;
 }
 header .logo img{
    float: left;
    padding-top: 10px;
 }
 header .logo h2 span{
    font-size: 10px;
    font-family: 'Arima', cursive;

 }
 header .logo h2{
    padding-left: 10px;
    font-family: 'Arima', cursive;
    font-family: 'Dancing Script', cursive;
    float: left;
 }
 .background{
    background-image: url(./assets/choco-pizza.png);
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
 }
 main .pizza-h1 span{
    font-size: 10px;
    color: gray;
    
 }
 main .pizza-h1 {
    float: left;
    font-family: sans-serif;

 }
 main .image{
    padding-top: 30px;
    float: right;
 }
 li{
    list-style-type: none;
 }
 li.line{
    text-decoration: line-through;
 }
 ul.left{
    float: left;
 }
 ul.right{
 float: right;
 }
 main .container .background-list{
    background-image: url(./assets/list-bg.png);
    
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
}
footer{
    padding-top: 50px;
}
footer .container .footer-content button{
    background-color: rgb(230, 72, 24);
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: none;
}

footer .container .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer .container .footer-content .portolio{
    display: flex;
    align-items:center;
    justify-content: center;

}
footer .container .footer-content .portolio .text{
    margin-left: 15px;
}
.last-content{
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.last-content .content-end img{
    z-index: 100;
}
.last-content::before{
    content: "";
    position: absolute;
    z-index: -100;
    background-color: gray;
    width: 100%;
    height: 1px;
    left: 50%;
    top: 114px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
footer{
    padding-bottom: 50px;
}
#border2{
    height: 10px;
    background-image: url(./assets/hr-img.png);
    border: 0;
    position: relative;
    top: 23px;
}